include *.txt
include *.md
include *.pkl
recursive-include ./stroke_detection_model *

include stroke_detection_model/datasets/healthcare-dataset-stroke-data.csv
include stroke_detection_model/trained_models/*.pkl
include stroke_detection_model/VERSION
include stroke_detection_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]